body {
    background-image: url('https://imgs.search.brave.com/UTFsXXMz1PegOkRvHKKcu44dlvkaWXZaOeJ1agoVqQQ/rs:fit:1124:843:1/g:ce/aHR0cDovL2ltYWdl/czUuZmFucG9wLmNv/bS9pbWFnZS9waG90/b3MvMzEwMDAwMDAv/SGFwcHktQmlydGhk/YXktcmViYS1uYXRp/b24tMzEwNTQ4NTQt/MTEyNC04NDMuanBn');
    background-size: cover;
    background-repeat: no-repeat;
   }


.top, 
.bottom {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    width: fit-content;
    height: fit-content;
}

.top {
    background-color: yellow;
    margin-top: 480px;
    margin-left: 150px;
}

.bottom {
    background-color: black;
    color: white;
    margin-top: 480px;
    margin-left: 680px;
}